fastapi==0.139.0
python-dotenv==1.2.2
SQLAlchemy==2.0.51
alembic 
uvicorn[standard]
psycopg2-binary
pydantic
pydantic-settings
python-jose[cryptography]
python-multipart
pydantic_settings
passlib[bcrypt]
bcrypt==3.2.2
requests